<% @posts.each do |post| %>
<div class="col-md-4">
	<div class="message">
		<h3 class="message-title"><%= post.title %></h3>
		<%= link_to "View post", post_path(post), class: "btn custom" %>
	</div>
</div>
<% end %>
